<div class="page-header">
	<h1 class="animated fadeInRight">Articulos</h1>
</div>
<div class="row">
	<div class="col-xs-12">
		<nav class="navbar" role="navigation">
			<div class="input-group">
				<input class="form-control" ng-model="filtro.$" type="text"></input>
				<span class="input-group-addon"><i class="fa fa-search"></i></span>
			</div>
		</nav>
	</div>
</div>
<form name="articulosForm" angular-validator-submit="addArticulo()" novalidate angular-validator>
	<table class="table no-border-top no-margin-bottom">
		<tr class="mantenimiento-header">
			<th class="col-sm-1"></th>
			<th ng-click="filtrarPor='Descripcion';reverse=!reverse">Descripci&oacute;n</th>
			<th ng-click="filtrarPor='existencia';reverse=!reverse">Existencia</th>
			<th ng-click="filtrarPor='tipoInventario';reverse=!reverse">Tipo de Inventario</th>
			<th ng-click="filtrarPor='costo';reverse=!reverse">Costo Unitario</th>
			<th ng-click="filtrarPor='estado';reverse=!reverse">Estado</th>
			<th></th>
		</tr>
		<tr class="mantenimiento-header">
			<td></td>
			<td>
				<input type="text" ng-model="newDescripcion" name="ndescripcion" placeholder="Descripci&oacute;n" class="form-control" ng-pattern="/^[a-zA-ZñÑáéíóúÁÉÍÓÚ\s]+$/" required>
			</td>
			<td>
				<input type="number" ng-model="newExistencia" name="nExistencia" placeholder="Existencia" class="form-control" required>
			</td>
			<td>
				<select ng-model="newTipoInv" name="tipoInv" ng-options="inventario as inventario.Descripcion for inventario in inventarios track by inventario.Descripcion" class="form-control" required> </select>
			</td>
			<td>
				<input type="number" ng-model="newCosto" name="nCosto" placeholder="Costo Unitario" class="form-control" required>
			</td>
			<td>
				<select ng-model="newEstado" name="estado" class="form-control" required>
					<option value="Disponible">Disponible</option>
					<option value="No Disponible">No Disponible</option>
				</select>
				<!-- <input type="text" name="norden" ng-model="newEstado" placeholder="Estado" class="form-control" required> -->
			</td>
			<td>
				<button type="submit" class="btn btn-sm btn-success">
					<span> <i class="fa fa-check"></i></span>
				</button>
			</td>
		</tr>
	</table>
	<table class="table table-striped">
		<tr ng-repeat="articulo in listaArticulos | filter: filtro | orderBy:filtrarPor:reverse" ng-class="isEdited(articulo.edited)" ng-click="edit(articulo)">
			<td class="col-xs-1">
				<button class="btn btn-xs btn-danger" ng-show="!articulo.edited" ng-click="borrarArticulo(articulo);$event.stopPropagation()">
					<span> <i class="fa fa-times"></i></span>
				</button>
				<button class="btn btn-sm btn-warning" ng-show="articulo.edited" ng-click="cancelUpdate(articulo);$event.stopPropagation()">Cancelar</button>
			</td>			
			<td>
				<span ng-show="articulo.saved && !articulo.edited">{{articulo.Descripcion}}</span>
				<div ng-show="!articulo.saved || articulo.edited" class="input-group">
					<input type="text" ng-model="articulo.Descripcion" class="form-control" required>
				</div>
			</td>
			<td>
				<span ng-show="articulo.saved && !articulo.edited">{{articulo.existencia}}</span>
				<div ng-show="!articulo.saved || articulo.edited" class="input-group">
					<input type="number" ng-model="articulo.existencia" class="form-control" required>
				</div>
			</td>
			<td>
				<span ng-show="articulo.saved && !articulo.edited">{{articulo.tipoInventario.Descripcion}}</span>
				<div ng-show="!articulo.saved || articulo.edited" class="input-group">
					<!-- <input type="text" ng-model="articulo.tipoInventario" class="form-control" required> -->
					<select ng-model="articulo.tipoInventario" name="tipoInventario" ng-options="inventario as inventario.Descripcion for inventario in inventarios track by inventario.Descripcion" class="form-control" required> </select>
				</div>
			</td>
			<td>
				<span ng-show="articulo.saved && !articulo.edited">{{articulo.costo}}</span>
				<div ng-show="!articulo.saved || articulo.edited" class="input-group">
					<input type="number" ng-model="articulo.costo" class="form-control" required>
				</div>
			</td>
			<td>
				<span ng-show="articulo.saved && !articulo.edited">{{articulo.estado}}</span>
				<div ng-show="!articulo.saved || articulo.edited" class="input-group">
					<select ng-model="articulo.estado" name="estadoUp" class="form-control" required>
						<option value="Disponible">Disponible</option>
						<option value="No Disponible">No Disponible</option>
					</select>
				</div>
			</td>
			<td>
				<button class="btn btn-sm btn-success center-element" ng-show="articulo.edited" ng-click="actualizarArticulo(articulo); text = !text">
					<span> <i class="fa fa-check"></i></span>
				</button>
			</td>

		</tr>
	</table>
</form>
<div class="col-sm-2 col-sm-offset-10">
	<br>
	<br>
	<div class="input-group-sm">

	</div>
</div>